/*
CSS Name: Default Styles
Description: NextGEN Default Gallery Stylesheet
Author: Imagely
Version: 2.13

This stylesheet is provided to allow users the ability of overriding the default styles for all display types
*/
/*
     FILE ARCHIVED ON 16:39:12 Dec 25, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:03:06 Jul 19, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 84.63
  exclusion.robots: 0.094
  exclusion.robots.policy: 0.086
  RedisCDXSource: 11.912
  esindex: 0.009
  LoadShardBlock: 54.25 (3)
  PetaboxLoader3.datanode: 64.548 (4)
  CDXLines.iter: 16.091 (3)
  load_resource: 118.613
  PetaboxLoader3.resolve: 51.51
*/